
body {
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

.bottom-nav {
    transition: transform 0.2s ease-out;
}

body.keyboard-visible {
    padding-bottom: 500px !important;
}

body.keyboard-visible .bottom-nav {
    transform: translateY(100%);
}

input, textarea {
    scroll-margin-bottom: 100px; /* Force un recul lors du focus */
}

.modal{
    padding-top : env(safe-area-inset-top, 20px);
}
.navbar {
    padding-top : env(safe-area-inset-top, 20px);
}

.offcanvas {
    top: env(safe-area-inset-top, 0px);
    height: calc(
        100% -
        env(safe-area-inset-top, 0px) -
        env(safe-area-inset-bottom, 0px)
    );
}


.sidebar{
    width: 180px;
    min-height: 100vh;
}

.logo-size{
    width: 100px;
    height: auto;
}
